#quote {
  position: relative;
  height: 100px;
  background-color: #e0e0e0;
  border: 1px solid #505050;
  text-align: center;
}

#quote p {
  position: relative;
  top: calc(50% - 1em);
  transform: translateY(-50%);
  font-size: 2em;
  font-style: italic;
}

.question-title {
  margin-left: 1em;
}

.edit {
  float: right;
}

.votes {
  float: left;
}
